@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: none;
  outline: none;
  background: transparent;
}

button,
.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}





body {
  background: #191919;
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 363px;
}

.header-item {
  font-size: 17px;
  line-height: 27px;
  transition: 0.5s ease-in-out;
}

.header-item:hover {
  color: #118DA8;
  transition: 0.5s ease-in-out;
}


.intro {
  padding-top: 30px;
  padding-bottom: 100px;
}


.intro-wrapper {
  display: flex;
}


.intro-img {
  position: relative;
}

.intro-img::before {
  position: absolute;
  content: url(/image/intro-sunny.svg);
  top: -28px;
  left: -28px;
}


.intro-info {
  padding-top: 294px;
  padding-left: 60px;
}


.intro-text {
  width: 530px;
  margin-bottom: 90px;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.intro-text span:first-of-type {
  font-size: 70px;
  position: relative;
}

.intro-text span:first-of-type::before {
  position: absolute;
  content: url(/image/intro-line.svg);
  left: -5px;
}

.intro-text span:last-of-type {
  font-weight: 700;
  font-size: 80px;
}

.intro-icon-text {
  margin-bottom: 16px;
}

.intro-icon-list {
  display: flex;
  justify-content: space-between;
  width: 228px;
}







.episodes-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}

.episodes-block-left-img-1050 {
  display: none;
}


.episodes-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
}

.episodes-title-link {
  font-size: 17px;
  line-height: 27px;
  background: #118DA8;
  border-radius: 6px;
  width: 178px;
  display: block;
  padding: 12px 0;
  text-align: center;
}

.episodes-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.episodes-block {
  display: flex;
  background: #000000;
  border-radius: 32px;
  padding: 40px;
}

.episodes-block-right-content {
  margin-left: 40px;
}

.episodes-right-content-genre {
  display: inline-block;
  background: #191919;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 27px;
}

.episodes-right-content-number {
  color: #118DA8;
  font-size: 17px;
  line-height: 27px;
  margin-top: 48px;
  margin-bottom: 17px;
}

.episodes-right-content-title {
  font-size: 64px;
  line-height: 70px;
  width: 700px;
  letter-spacing: 2.56px;
}

.episodes-right-content-describtion {
  font-size: 22px;
  line-height: 33px;
  width: 750px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 28px;
  margin-bottom: 33px;
}

.episodes-right-content-link {
  display: inline-block;
  padding: 12px 15px 12px 20px;
  background: #118DA8;
  border-radius: 6px;
}



.host {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 80px;
}

.host-info {
  padding-top: 145px;
  padding-right: 20px;
}

.host-info-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #118DA8;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  margin-bottom: 15px;
}

.host-info-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #118DA8;
}

.host-info-title {
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  margin-bottom: 30px;
}

.host-info-text {
  width: 556px;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

.subscribe {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 60px 60px 75px;
  background: #000000;
  border-radius: 32px;
}

.subscribe::before {
  position: absolute;
  content: url(/image/subscribe-sunny.svg);
  bottom: -47px;
  left: -43px;
}

.subscribe-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #118DA8;
}

.supscribe-title {
  width: 430px;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}

.subscribe-form {
  width: 522px;
}

.subscribe-form-block {
  padding: 26px 0 27px 19px;
  margin-bottom: 20px;
  background: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
}

.subscribe-form-block input {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form-btn {
  width: 87px;
  padding: 9px 0;
  background: #118DA8;
  border-radius: 6px;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}


.footer {
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  justify-content: start;
}

.fotter-logo-img {
  margin-right: 240px;
}

.footer-logo-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-podcast-adaptive {
  display: none !important;
}

.footer-list li {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 10px;
}

.footer-list:nth-of-type(2) {
  margin-right: 20px;
  margin-left: 120px;
}


.footer-podcast {
  display: flex;
  gap: 17px;
}